
body {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('bg.jpg'); /* Set background image */
    background-size: cover;
    background-position: center;
    animation: backgroundAnimation 30s infinite linear;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    position: relative;
    z-index: 1; /* Ensure content is above the background animation */
    padding: 20px; /* Add padding to the container */
    margin-top: 50px; /* Example margin for top */
}
.numpad {
    display: flex;
    flex-direction: column;
}

.numpad .row {
    margin-bottom: 10px; /* Add margin between rows */
}

.numpad .btn {
    font-size: 1.5rem;
    height: 70px;
    width: 100%; /* Make buttons full width of their container */
    padding: 15px; /* Adjust padding amount */
    margin-bottom: 10px; /* Add margin between buttons */
}